<a href="https://colab.research.google.com/github/amanteur/TDA_Cover_detection/blob/main/TDA_CoverDetection_Persistence_Diagrams_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Libraries

In [ ]:
import gudhi as gd
import numpy as np
import gudhi.representations
import os
import pandas as pd

#Extracting Data

In [ ]:
root_dir = "C:\\Users\\Hp\\PycharmProjects\\TDA_Cover_detection\\data_df\\"
print(root_dir + 'data_short.json')

C:\Users\Hp\PycharmProjects\TDA_Cover_detection\data_df\data_short.json

In [ ]:
df_as = pd.read_json(root_dir + 'data_all_short.json')
df_ts = pd.read_json(root_dir + 'data_tonnetz_short.json')
df_ms = pd.read_json(root_dir + 'data_mfcc_short.json')

In [ ]:
df_ts.head()

,name,data,data_optimized
0,Caroline_No,"[[-1.5858895715, 1.3413441156, -0.1055902599, ...","[[-1.6457545757, 1.4071550368999999, -0.071545..."
1,Caroline_No,"[[1.3080404403, -0.6044510957, 1.4758249653, -...","[[1.0761038065, -0.7231699824000001, 1.6963046..."
2,Between_The_Bars,"[[1.8867760943, 0.6353188351, -0.424381151, -0...","[[1.9328298569000002, 0.6648994684, -0.1995572..."
3,Between_The_Bars,"[[0.3243762713, 0.5022660379, -1.8999438226, 1...","[[0.2845159769, 0.6938699484, -1.9528387784999..."
4,Before_You_Accuse_Me,"[[-0.0267137987, -0.4008866119, -1.2454975819,...","[[-0.1234773099, -0.16961076860000002, -1.3394..."

In [ ]:
np.array(df_ts.iloc[0].data).shape

(58, 6)

In [ ]:
df_af = pd.read_json(root_dir + 'data_all_full.json')
df_tf = pd.read_json(root_dir + 'data_tonnetz_full.json')
df_mf = pd.read_json(root_dir + 'data_mfcc_full.json')

In [ ]:
df_tf.head()

,name,data,sparse_data,sparse_data_optimized
0,Addicted_To_Love,"[[0.3422733565, 0.143510731, -0.6645351426, 1....","[[-2.0269999645, -0.30316059], [2.1061349294, ...","[[-2.1814830303, -0.31520187850000003], [2.106..."
1,Addicted_To_Love,"[[0.4367159507, -1.3449895605, 1.178918452, -1...","[[-1.1181345966, -0.7408444737000001], [2.2844...","[[-1.1741437912000001, -0.7866913676], [2.4901..."
2,Between_The_Bars,"[[0.7100896968, 0.3123489759, 1.5932283558, -1...","[[-1.3944060246, 1.7688828552], [2.922520301, ...","[[-1.4065483809, 1.7810242176000002], [2.92252..."
3,Between_The_Bars,"[[0.25370914110000004, 1.2441367206, 0.5878284...","[[2.1105872413, -2.0433809696], [-0.7181923317...","[[1.9947917461, -1.9572432041], [-0.7166914940..."
4,Caroline_No,"[[0.0838415606, -0.2773952232, -1.714423491, 0...","[[-1.5942165669000001, 1.0369796703], [2.21166...","[[-1.5704852343, 1.0302634239], [2.2116613388,..."

In [ ]:
np.array(df_tf.iloc[0].data).shape

(359, 6)

#Adding Rips persistences

In [ ]:
def add_topological_features(df, eps=0.001, data_column='data'):
  feature_dict = {}
  df_size = df.shape[0]

  for index, row in df.iterrows():
    if (index + 1) % 20 == 0:
      print('Progress: {}/{}'.format(index+1,df_size))

    song_data = row[data_column]
    
    # Rips Complex
    rc = gd.RipsComplex(points=song_data).create_simplex_tree(max_dimension=2)
    rc.compute_persistence(persistence_dim_max=True)

    # peristence intervals for next computations
    pers_intervals = rc.persistence_intervals_in_dimension(1)

    # add to dict
    feature_dict.setdefault(index, {})
    feature_dict[index][data_column + '_persistence'] = pers_intervals

  dict_df = pd.DataFrame.from_dict(feature_dict).transpose()
  joined_df = df.join(dict_df)

  print('Done!\n')

  return joined_df

##To original data

60s audios

In [ ]:
df_as = add_topological_features(df_as)
df_ts = add_topological_features(df_ts)
df_ms = add_topological_features(df_ms)

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Full length audio

In [ ]:
df_af = add_topological_features(df_af)
df_tf = add_topological_features(df_tf)
df_mf = add_topological_features(df_mf)

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

##To sparse data

Only full length audios

In [ ]:
df_af = add_topological_features(df_af, data_column='sparse_data')
df_tf = add_topological_features(df_tf, data_column='sparse_data')
df_mf = add_topological_features(df_mf, data_column='sparse_data')

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

##To optimized data

Only to tonnetz

In [ ]:
df_tf = add_topological_features(df_tf, data_column='sparse_data_optimized')
df_ts = add_topological_features(df_ts, data_column='data_optimized')

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

Progress: 20/164
Progress: 40/164
Progress: 60/164
Progress: 80/164
Progress: 100/164
Progress: 120/164
Progress: 140/164
Progress: 160/164
Done!

#Adding DTM persistences

**Only to original data**

In [ ]:
from DTM_filtrations import *

Using dimension **0** for DTM filtration

In [ ]:
def compute_DTM(df, p=1, m=0.1, dimension_max=1):
  feature_dict = {}
  df_size = df.shape[0]

  for index, row in df.iterrows():
    if (index + 1) % 20 == 0:
      print('Progress: {}/{}'.format(index+1,df_size))

    song_data = np.array(row['data'])

    #DTM filtration
    st_DTM = DTMFiltration(song_data, m, p, dimension_max)
    st_DTM.compute_persistence(persistence_dim_max=True)
    pers_intervals = st_DTM.persistence_intervals_in_dimension(0)

    # add to dict
    feature_dict.setdefault(index, {})
    feature_dict[index]['persistence_DTM'] = pers_intervals

  dict_df = pd.DataFrame.from_dict(feature_dict).transpose()
  joined_df = df.join(dict_df)
  print('Done!\n')

  return joined_df

In [ ]:
df_af = compute_DTM(df_af)
df_tf = compute_DTM(df_tf)
df_mf = compute_DTM(df_mf)

In [ ]:
df_as = compute_DTM(df_as)
df_ts = compute_DTM(df_ts)
df_ms = compute_DTM(df_ms)

#Datasets

##Point clouds

All features, full duration

In [ ]:
df_af[['name', 'data','sparse_data']].head()

,name,data,sparse_data
0,Blue_Collar_Man,"[[-4.5828766129, 1.6642811156000001, -1.782586...","[[1.8349494301, -0.37629420480000003], [-1.008..."
1,Blue_Collar_Man,"[[-4.5089410016, 1.9314511059, -1.4294643549, ...","[[-0.209837885, -0.2255466405], [2.0217943019,..."
2,Addicted_To_Love,"[[-4.8905504311, 1.8891033677, -0.4505311209, ...","[[1.3351606727, -0.1878888317], [-0.8205759669..."
3,Addicted_To_Love,"[[-3.7661504426, 2.6291591547, -1.6989040893, ...","[[0.16023083770000002, -0.423371376], [1.26608..."
4,All_Tomorrow_s_Parties,"[[-5.0555436361, 1.9339179479, -0.201420185, 0...","[[0.2757647567, -0.030309090700000003], [1.913..."

In [ ]:
print('Point clouds:\nOriginal shape: {}, Sparse shape: {}'.format(np.array(df_af.iloc[0].data).shape, np.array(df_af.iloc[0].sparse_data).shape))

Point clouds:
Original shape: (298, 30), Sparse shape: (120, 2)

Tonnetz features, full duration

In [ ]:
df_tf[['name', 'data','sparse_data', 'sparse_data_optimized']].head()

,name,data,sparse_data,sparse_data_optimized
0,Addicted_To_Love,"[[0.3422733565, 0.143510731, -0.6645351426, 1....","[[-2.0269999645, -0.30316059], [2.1061349294, ...","[[-2.1814830303, -0.31520187850000003], [2.106..."
1,Addicted_To_Love,"[[0.4367159507, -1.3449895605, 1.178918452, -1...","[[-1.1181345966, -0.7408444737000001], [2.2844...","[[-1.1741437912000001, -0.7866913676], [2.4901..."
2,Between_The_Bars,"[[0.7100896968, 0.3123489759, 1.5932283558, -1...","[[-1.3944060246, 1.7688828552], [2.922520301, ...","[[-1.4065483809, 1.7810242176000002], [2.92252..."
3,Between_The_Bars,"[[0.25370914110000004, 1.2441367206, 0.5878284...","[[2.1105872413, -2.0433809696], [-0.7181923317...","[[1.9947917461, -1.9572432041], [-0.7166914940..."
4,Caroline_No,"[[0.0838415606, -0.2773952232, -1.714423491, 0...","[[-1.5942165669000001, 1.0369796703], [2.21166...","[[-1.5704852343, 1.0302634239], [2.2116613388,..."

In [ ]:
print('Point clouds:\nOriginal shape: {}, Sparse shape: {}, Optimized shape: {}'.format(np.array(df_tf.iloc[0].data).shape, 
                                                                                        np.array(df_tf.iloc[0].sparse_data).shape,
                                                                                        np.array(df_tf.iloc[0].sparse_data_optimized).shape))

Point clouds:
Original shape: (359, 6), Sparse shape: (120, 2), Optimized shape: (120, 2)

MFCC features, full duration

In [ ]:
df_mf[['name', 'data','sparse_data']].head()

,name,data,sparse_data
0,All_Tomorrow_s_Parties,"[[-3.1031332016, 1.4269647598000001, 0.0429823...","[[0.32581887060000003, -0.2754239694], [-0.688..."
1,All_Tomorrow_s_Parties,"[[-3.2100024223, 0.878430903, 0.0554179661, 0....","[[-0.0581742388, -0.1960044163], [1.9702940682..."
2,Addicted_To_Love,"[[-3.0177416801, 1.3071744442, -0.185338825, 0...","[[-0.3948977634, -0.0375099589], [1.6216317302..."
3,Addicted_To_Love,"[[-2.3204026222, 1.7416863441000001, -1.007356...","[[-0.27243655310000003, 0.1388164836], [0.7793..."
4,All_Along_The_Watchtower,"[[-2.4056568146, 1.697663784, -1.301181078, 0....","[[-0.2447804747, -0.0461015273], [1.0108347782..."

In [ ]:
print('Point clouds:\nOriginal shape: {}, Sparse shape: {}'.format(np.array(df_mf.iloc[0].data).shape, np.array(df_mf.iloc[0].sparse_data).shape))

Point clouds:
Original shape: (340, 12), Sparse shape: (120, 2)

All features, 60s duration, offset 10

In [ ]:
df_as[['name', 'data']].head()

                     name                                               data
0             Abracadabra  [[-4.1192823548, 2.5715517081, -1.0244977379, ...
1             Abracadabra  [[-2.4480854167, 3.5900198295, -1.8321097403, ...
2        Between_The_Bars  [[-4.8465710655, 2.3171295814, -0.0924338127, ...
3        Between_The_Bars  [[-4.5400104752, 2.9157706856, -0.2943556108, ...
4  All_Tomorrow_s_Parties  [[-4.6809713755, 2.7040989104, -0.5291231463, ...

In [ ]:
print('Point clouds:\nOriginal shape: {}'.format(np.array(df_as.iloc[0].data).shape))

Point clouds:
Original shape: (58, 30)

Tonnetz features, 60s duration, offset 10

In [ ]:
df_ts[['name', 'data', 'data_optimized']].head()

,name,data,data_optimized
0,Caroline_No,"[[-1.5858895715, 1.3413441156, -0.1055902599, ...","[[-1.6457545757, 1.4071550368999999, -0.071545..."
1,Caroline_No,"[[1.3080404403, -0.6044510957, 1.4758249653, -...","[[1.0761038065, -0.7231699824000001, 1.6963046..."
2,Between_The_Bars,"[[1.8867760943, 0.6353188351, -0.424381151, -0...","[[1.9328298569000002, 0.6648994684, -0.1995572..."
3,Between_The_Bars,"[[0.3243762713, 0.5022660379, -1.8999438226, 1...","[[0.2845159769, 0.6938699484, -1.9528387784999..."
4,Before_You_Accuse_Me,"[[-0.0267137987, -0.4008866119, -1.2454975819,...","[[-0.1234773099, -0.16961076860000002, -1.3394..."

In [ ]:
print('Point clouds:\nOriginal shape: {}, Optimized shape: {}'.format(np.array(df_ts.iloc[0].data).shape, np.array(df_ts.iloc[0].data_optimized).shape))

Point clouds:
Original shape: (58, 6), Optimized shape: (58, 6)

MFCC features, 60s duration, offset 10

In [ ]:
df_ms[['name', 'data']].head()

                     name                                               data
0    Before_You_Accuse_Me  [[-2.3268313408, 2.1591043472, -0.837438523800...
1    Before_You_Accuse_Me  [[-2.8247349262, 1.5663126707, -0.3321456611, ...
2         Blue_Collar_Man  [[-2.1218531132, 1.8044158220000002, -1.387530...
3         Blue_Collar_Man  [[-2.5891852378999998, 1.7416411638, -0.903010...
4  A_Whiter_Shade_Of_Pale  [[-2.6545593739, 2.0621275902, -0.4001491964, ...

In [ ]:
print('Point clouds:\nOriginal shape: {}'.format(np.array(df_ms.iloc[0].data).shape))

Point clouds:
Original shape: (58, 12)

##Persistences

All features, full duration

In [ ]:
df_af[['data_persistence',	'sparse_data_persistence',	'persistence_DTM']].head()

,data_persistence,sparse_data_persistence,persistence_DTM
0,"[[0.1094097145805614, 0.12137259882970743], [0...","[[0.042162738699184264, 0.048191150481170675],...","[[0.17748904276333044, 0.20756523346879102], [..."
1,"[[0.1045619147392185, 0.10743337351340193], [0...","[[0.04802474265264288, 0.04871496022500302], [...","[[0.148797029908147, 0.1742707589916287], [0.1..."
2,"[[0.06790466417597524, 0.06818033920708515], [...","[[0.0367908284253205, 0.03943774545585612], [0...","[[0.11018035373148093, 0.12756586602370615], [..."
3,"[[0.10580752054306773, 0.10940967443283095], [...","[[0.0462209527173466, 0.04896847377711813], [0...","[[0.15685645423573624, 0.18379424711058168], [..."
4,"[[0.10202236453318293, 0.10319306358017796], [...","[[0.05057067407293822, 0.05380395605190395], [...","[[0.21973427447584812, 0.2571377896769305], [0..."

In [ ]:
print('Persistences:\nOriginal shape: {}, Sparse shape: {}, DTM shape: {}'.format(df_af.iloc[0].data_persistence.shape, 
                                                                                  df_af.iloc[0].sparse_data_persistence.shape, 
                                                                                  df_af.iloc[0].persistence_DTM.shape))

Persistences:
Original shape: (110, 2), Sparse shape: (17, 2), DTM shape: (298, 2)

Tonnetz features, full duration

In [ ]:
df_tf[['data_persistence',	'sparse_data_persistence','sparse_data_optimized_persistence','persistence_DTM']].head()

,data_persistence,sparse_data_persistence,sparse_data_optimized_persistence,persistence_DTM
0,"[[0.25036165963245466, 0.25830715539041826], [...","[[0.1762515338430546, 0.18988114485291255], [0...","[[0.2051328886697701, 0.3026364757980318], [0....","[[0.4008460225009832, 0.4441483384124842], [0...."
1,"[[0.34240295037505447, 0.34481871906107986], [...","[[0.2538060425356289, 0.26840997843719727], [0...","[[0.2860193050834116, 0.33483013955894464], [0...","[[0.625292138075233, 0.7167460673362508], [0.6..."
2,"[[0.34313096763871254, 0.3527574680127924], [0...","[[0.1511386156478471, 0.16528632746767957], [0...","[[0.19286199408797405, 0.26971546597188406], [...","[[0.4345151580786134, 0.47449799757719374], [0..."
3,"[[0.32294846614874356, 0.3785229636696715], [0...","[[0.14675995020269778, 0.1647545656542942], [0...","[[0.1760023250532623, 0.21583253201739508], [0...","[[0.40074708321821273, 0.5068355494783053], [0..."
4,"[[0.28241508629485534, 0.30087323221886364], [...","[[0.2539568670330035, 0.28549273688987], [0.35...","[[0.2505239794184721, 0.3431616947566372], [0....","[[0.3342199698148699, 0.38822379593413664], [0..."

In [ ]:
print('Persistences:\nOriginal shape: {}, Sparse shape: {}, Sparse optimized: {}, DTM shape: {}'.format(df_tf.iloc[0].data_persistence.shape, 
                                                                                  df_tf.iloc[0].sparse_data_persistence.shape, 
                                                                                  df_tf.iloc[0].sparse_data_optimized_persistence.shape, 
                                                                                  df_tf.iloc[0].persistence_DTM.shape))

Persistences:
Original shape: (137, 2), Sparse shape: (20, 2), Sparse optimized: (21, 2), DTM shape: (359, 2)

MFCC features, full duration

In [ ]:
df_mf[['data_persistence',	'sparse_data_persistence',	'persistence_DTM']].head()

,data_persistence,sparse_data_persistence,persistence_DTM
0,"[[0.0648611062025578, 0.06660041766799896], [0...","[[0.02103831592833422, 0.02567016574777614], [...","[[0.13119167060616357, 0.15085634407032725], [..."
1,"[[0.044565020142300245, 0.052324462338377946],...","[[0.04246564284343271, 0.0445317942751463], [0...","[[0.09173622976969556, 0.10138627776736335], [..."
2,"[[0.04132139556276693, 0.04498951966679391], [...","[[0.045242583253528874, 0.04746639278533357], ...","[[0.0687986275865801, 0.0767857986710767], [0...."
3,"[[0.06822373728692059, 0.07017983848791108], [...","[[0.023003079939584805, 0.030200879179894335],...","[[0.0961893213778875, 0.10955957899620875], [0..."
4,"[[0.07366879188382769, 0.07406850447511183], [...","[[0.02776472215266603, 0.030073548321859846], ...","[[0.10078188031135547, 0.11507473045188674], [..."

In [ ]:
print('Persistences:\nOriginal shape: {}, Sparse shape: {}, DTM shape: {}'.format(df_mf.iloc[0].data_persistence.shape, 
                                                                                  df_mf.iloc[0].sparse_data_persistence.shape, 
                                                                                  df_mf.iloc[0].persistence_DTM.shape))

Persistences:
Original shape: (123, 2), Sparse shape: (17, 2), DTM shape: (340, 2)

All features, 60s duration, offset 10

In [ ]:
df_as[['data_persistence',	'persistence_DTM']].head()

,data_persistence,persistence_DTM
0,"[[0.15807596170489882, 0.1594529553553551], [0...","[[0.10907600679639644, 0.15170317996859717], [..."
1,"[[0.1561486550037655, 0.1661563982354299], [0....","[[0.15021087483566192, 0.1971340558925783], [0..."
2,"[[0.14566829258107947, 0.14677091630960482], [...","[[0.10801701971030324, 0.13598644663042303], [..."
3,"[[0.17547982882970228, 0.18323206555749347], [...","[[0.12378936996976311, 0.17175259376293484], [..."
4,"[[0.10202239048898643, 0.10319324691344858], [...","[[0.08812221320628429, 0.115932825304564], [0...."

In [ ]:
print('Persistences:\nOriginal shape: {}, DTM shape: {}'.format(df_as.iloc[0].data_persistence.shape, 
                                                                df_as.iloc[0].persistence_DTM.shape))

Persistences:
Original shape: (17, 2), DTM shape: (58, 2)

Tonnetz features, 60s duration, offset 10

In [ ]:
df_ts[['data_persistence', 'data_optimized_persistence','persistence_DTM']].head()

,data_persistence,data_optimized_persistence,persistence_DTM
0,"[[0.7773231686613057, 0.7870581629115722], [0....","[[0.648979669664938, 0.999529038351611], [0.89...","[[0.3440418788444581, 0.4207122952505035], [0...."
1,"[[0.7997119648063664, 0.9029750933500872], [0....","[[1.2679723038277335, 1.278061475843354], [1.2...","[[0.5968394367487952, 0.762297301427455], [0.5..."
2,"[[0.8955607197564367, 0.9217455527298838], [0....","[[0.7517587031013548, 0.8467899592971884], [0....","[[0.3667723049069644, 0.4164461884789305], [0...."
3,"[[0.6130286662185176, 0.6198799653447066], [0....","[[0.7281299640350916, 0.7287003641855017], [0....","[[0.35220113565636546, 0.40825869181811814], [..."
4,"[[0.9272402991455244, 0.9278581471221764], [0....","[[0.9462409051338865, 1.3940687675208452], [0....","[[0.7200535385085948, 0.8248844932999402], [0...."

In [ ]:
print('Persistences:\nOriginal shape: {}, Optimized shape: {}, DTM shape: {}'.format(df_ts.iloc[0].data_persistence.shape, 
                                                                                  df_ts.iloc[0].data_optimized_persistence.shape, 
                                                                                  df_ts.iloc[0].persistence_DTM.shape))

Persistences:
Original shape: (12, 2), Optimized shape: (12, 2), DTM shape: (58, 2)

MFCC features, 60s duration, offset 10

In [ ]:
df_ms[['data_persistence', 'persistence_DTM']].head()

,data_persistence,persistence_DTM
0,"[[0.12763722165651425, 0.14870583519766478], [...","[[0.11702951586111672, 0.14867796743670564], [..."
1,"[[0.11917964109869357, 0.1198013059821121], [0...","[[0.08280780008365674, 0.10814824495056002], [..."
2,"[[0.09482215347214043, 0.1034720034935996], [0...","[[0.08126402311186955, 0.10661572322095238], [..."
3,"[[0.0622551246022995, 0.0670817101800795], [0....","[[0.04556873055395506, 0.06213506701851097], [..."
4,"[[0.09208173832998556, 0.0945020913239662], [0...","[[0.07354152678679209, 0.09967335353942122], [..."

In [ ]:
print('Persistences:\nOriginal shape: {}, DTM shape: {}'.format(df_ms.iloc[0].data_persistence.shape, 
                                                                df_ms.iloc[0].persistence_DTM.shape))

Persistences:
Original shape: (11, 2), DTM shape: (58, 2)

#Saving datasets

In [ ]:
out_dir = "C:\\Users\\Hp\\PycharmProjects\\TDA_Cover_detection\\pers_df\\"

In [ ]:
df_af.to_json(out_dir + 'all_full.json')
df_tf.to_json(out_dir + 'tonnetz_full.json')
df_mf.to_json(out_dir + 'mfcc_full.json')

df_as.to_json(out_dir + 'all_short.json')
df_ts.to_json(out_dir + 'tonnetz_short.json')
df_ms.to_json(out_dir + 'mfcc_short.json')

#Summary

We have:
1. full audio
  1. all features
    1. data_persistence
    2. sparse_data_persistence
    3. persistence_DTM
  2. tonnetz features
    4. data_persistence	
    5. sparse_data_persistence
    6. sparse_data_optimized_persistence
    7. persistence_DTM
  3. mfcc features
    8. data_persistence
    9. sparse_data_persistence
    10. persistence_DTM
2. 60s audio
  1. all features
    11. data_persistence
    12. persistence_DTM
  2. tonnetz features
    13. data_persistence	
    14. data_optimized_persistence
    15. persistence_DT
  3. mfcc features
    16. data_persistence
    17. persistence_DTM

So, we need to evaluate metrics on 17 types of persistence diagrams